<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OXXOMANIA</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <img src="https://1000marcas.net/wp-content/uploads/2022/02/OXXO-Logo.png" alt="OXXO Logo" class="logo" />
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item selected"><a asp-page="/Index"><i class="fa fa-home"></i> Inicio</a></li>
                <li class="nav-item"><a asp-page="/Puntajes"><i class="fa fa-chart-bar"></i> Puntajes</a></li>
                <li class="nav-item"><a asp-page="/Perfil"><i class="fa fa-user"></i> Mi perfil</a></li>
                <li class="nav-item"><a asp-page="/Juego"><i class="fa fa-gamepad"></i> Juego</a></li>
                <li class="nav-item"><a asp-page="/Config"><i class="fa fa-cog"></i> Configuración</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
</body>
</html>
