@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col">
        <img src="~/images/oxxo-logo.png" alt="Icono OXXO" width="300">
    </div>
    <div class="row">
        <p>texto</p>
    </div>
</div>

