@page
@model Index_CrearCuentaModel
@{
    ViewData["Title"] = "Crear Cuenta";
    Layout = "_LayoutLogin";
}


<div class="container d-flex justify-content-center align-items-center min-vh-100"> 
<div class="div-cc row border rounded-5 shadow">
    <div class="col-md-6">
        <img src="~/images/oxxo-logo.png" alt="Icono OXXO" width="100px">
        <h1>Crear cuenta</h1>
    </div>
    <div class="col-md-6">
        <div class="row">
            <form method="post">
                <h4>Correo:</h4>
                <input type="text" class="form-control form-control-lg bg-light fs-6" asp-for="correo" placeholder="Introduce tu usuario" />
                <br>
                <h4>Usuario:</h4>
                <input type="text" class="form-control form-control-lg bg-light fs-6" asp-for="user" placeholder="Introduce tu usuario" />
                <br>
                <h4>Sucursal:</h4>
                <input type="text" class="form-control form-control-lg bg-light fs-6" asp-for="sucursal" placeholder="Introduce tu usuario" />
                <br>
                <h4>Contraseña:</h4>
                <input type="text" class="form-control form-control-lg bg-light fs-6" asp-for="password" placeholder="Introduce tu contraseña"/>
                <br><br>
                <input type="submit" class="btn-login btn btn-lg w-100 fs-6" value="Crear cuenta"/>
            </form>            
        </div> 
        <br>
        <div class="row">
            <p>¿Ya tienes cuenta? <a asp-page="/Index">Inicia sesión</a></p>
        </div>
    </div>
</div>
</div>

