@page
@model Podium
@{
    ViewData["Title"] = "Podium";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">

<div class="div-login row border rounded-5 shadow justify-content-center">

    Chismoso

</div>
</div>
