@page
@model VistaAsesor
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";
    string avatarHead = "~/images/objetos/f_1.png"; // Default
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };
}

<div class="content-wrapper" style="padding-left: 240px;">
    <section class= "dashboard-top-sec">
        <div class="container-fluid">
            <div class=" row">
                <div class=" col-lg-8">
                    <div class="bg-white top-chart-earn"> 
                        <div class="row"> 
                            <div class="col-sm-4 my-2 pe-0"> 
                                <div class="last-month"> 
                                     <h5>Dashboard</h5>
                                     <p>Ganancias del Mes pasado</p>
                                     <div class="ganancia">
                                        <h2>$510,327,112.28</h2> </br>
                                        <p>Ganancias de Este Mes</p>
                                        <h2>$243,938,173.69</h2>
                                     </div>
                                </div>
                            </div>

                            <div class="col-sm-8 my-2 ps-0">
                                <div class="widget-content">
                                    <iframe width="400" height="300" src="https://lookerstudio.google.com/embed/reporting/389a889c-cf79-4e5f-a2d2-0f52821a9f98/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4"> 
                    <div class="bg-white-top-chart-earn"> 
                        
                        <div class="aportaciones"> 
                        <div class="aportaciones-title"> 
                            <h5>Aportaciones</h5>
                        </div>
                            <div id="chart-2"> 
                                <div class="widget-content">
                                <iframe width="380" height="280" src="https://lookerstudio.google.com/embed/reporting/812b1d47-f541-49ab-8853-9a69609edf12/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dashboard-bottom-sec">
        <div class="tus-lideres my-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="lider-list">
                            <h5 class="lider-sc-title">tus lideres: </h5>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Sucursal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <th scope="row">1</th>
                                    <td>Maria</td>
                                    <td>Leambre</td>
                                    <td>MTY zona tec</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">2</th>
                                    <td>Luis</td>
                                    <td>Rodriguez</td>
                                    <td>GDJ zona centro</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">3</th>
                                    <td>Juan</td>
                                    <td>De la Fuente</td>
                                    <td>MTY Barrio Antiguo</td>
                                    </tr>
                                </tbody>
                                </table>
                        </div>
                    </div>

                    <div class="col-lg-8"> 
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Líder</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Horario</th>
                                <th scope="col">Días</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">Maria</th>
                                <td>Mark</td>
                                <td>Rangel</td>
                                <td>10:00 - 18:00</td>
                                <td>L, Ma, V</td>
                                </tr>
                                <tr>
                                <th scope="row">Luis</th>
                                <td>Jesus</td>
                                <td>Villareal</td>
                                <td>7:00 - 14:00t</td>
                                <td>Mi, J, S</td>
                                </tr>
                                <tr>
                                <th scope="row">Juan</th>
                                <td>John</td>
                                <td>Doe</td>
                                <td>12:00 - 20:00</td>
                                <td>L, J, D</td>
                                </tr>
                                <tr>
                                <th scope="row">Aranza</th>
                                <td>Mauricio</td>
                                <td>Vivas</td>
                                <td>16:00 - 00:00</td>
                                <td>Ma, Mi, V</td>
                                </tr>
                                <tr>
                                <th scope="row">Angel</th>
                                <td>Melina</td>
                                <td>Gonzalez</td>
                                <td>13:00 - 21:00</td>
                                <td>V, S, D</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
