@page
@model VistaAsesor
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <section class= "dashboard-top-sec">
        <div class="container-fluid">
            <div class=" row">
                <div class=" col-lg-8">
                    <div class="bg-white top-chart-earn"> 
                        <div class="row"> 
                            <div class="col-sm-4 my-2 pe-0"> 
                                <div class="last-month"> 
                                     <h5>Dashboard</h5>
                                     <p>Ganancias del Mes pasado</p>
                                     <div class="ganancia">
                                        <h2>$510,327,112.28</h2> </br>
                                        <p>Ganancias de Este Mes</p>
                                        <h2>$243,938,173.69</h2>
                                     </div>
                                </div>
                            </div>

                            <div class="col-sm-8 my-2 ps-0">
                                <div class="widget-content">
                                    <iframe width="400" height="300" src="https://lookerstudio.google.com/embed/reporting/389a889c-cf79-4e5f-a2d2-0f52821a9f98/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4"> 
                    <div class="bg-white-top-chart-earn"> 
                        
                        <div class="aportaciones"> 
                        <div class="aportaciones-title"> 
                            <h5>Aportaciones</h5>
                        </div>
                            <div id="chart-2"> 
                                <div class="widget-content">
                                <iframe width="380" height="280" src="https://lookerstudio.google.com/embed/reporting/812b1d47-f541-49ab-8853-9a69609edf12/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dashboard-bottom-sec">
        <div class="tus-lideres my-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col md-4">
                        <div class="lider-list">
                            <p class="lider-sc-title">tus-lideres lideres: </p>
                            <ul class="lider-ul"> 
                                <li class="lider-li"> 
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
